<nav class="navbar navbar-default" role="navigation" bs-navbar>
	<a class="navbar-brand" href="#">Las Olas</a>
	<ul class="nav navbar-nav">
		<li class="main-item active" data-match-route="/orders"><a href="#/orders">Pedidos</a></li>
		<li id="menu" class="hovered" data-match-route="/admin"><a href="">Administración</a>
			<ul id="admin-submenu" class="nav submenu">
				<li data-match-route="/admin.*"><a href="#/admin/menu">Menú</a></li>
				<li data-match-route="/admin.*"><a href="#/admin/stays">Estancias</a></li>
				<li data-match-route="/admin.*"><a href="#/admin/users">Usuarios</a></li>
			</ul>
		</li>
		<li class="main-item" data-match-route="/reports.*"><a href="#/reports">Reportes</a></li>
		<li class="main-item" data-match-route="/logout"><a href="#/logout">Cerrar sesión</a></li>
	</ul>
</nav>

<div class="container">
	
</div>


