/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#menu:hover .submenu{
  visibility: visible;
  opacity: 1;
}

.submenu{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: #075fbb;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;  
  transition: visibility 0s, opacity 0.5s linear;
}

.submenu li a{
  color: white;
}

.submenu > li:hover a{
  background-color: #00a0e1 !important;
}

.navbar-default .navbar-nav>li>a{
  text-transform: uppercase;
  font-weight: bold;
  color: black !important;
}

.main-item:hover a{
 background-color: #00a0e1 !important; 
}

.navbar-default .navbar-nav>.active>a{
  color: white !important;
  background-color: #075fbb !important;  
}

.hovered:hover{
  background-color: #00a0e1 !important; 
}

.options{
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  width: 30px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.options:hover{
  color: #00a0e1;
  border: solid #00a0e1 1px;
}

.delete{
  color: red;
}

.modify{
  color: #075fbb;
}

.create{
  color: green;
}

.user-name{
  display: inline-block;
}

.user-info{
  width: 70%;
  margin-bottom: 20px !important;
  margin: auto;
  border-bottom: solid red 1.5px;
}

.right{
  float: right;
}

.panel{
  width: 80% !important;
  margin: auto !important;
}

.panel-group{
  margin-top: 50px;
}

.menu-option{
  margin-right: 15px;
}

.menu-option:hover{
  color: #00a0e1;
  border: solid #00a0e1 1px;
}

.subcategories{
  margin-top: 35px !important;
  margin-left: 0px !important;
  width: 100% !important;
}

ul, li{
  list-style-type: none;
}

.product span{
  float: right;
  margin-right: 5px;
}

.status-0{
  color: red;
}

.product-status-0{
  border-bottom: solid 1px red;
  width: 40%;
}

.status-1{
  color: #ff8d1a;
}

.product-status-1{
  border-bottom: solid 1px #ff8d1a;
  width: 40%;
}

.status-2{
  color: green;
}

.product-status-2{
  border-bottom: solid 1px green;
  width: 40%;
}

.order-total{
  float: right;
  font-weight: bold;
}

.product-name{
  font-weight: bold;
}

.createProduct{
  color: #075fbb;
}

.products{
  width: 50% !important;
}

#report-menu{
  width: 60%;
  margin: auto;
}

#report-menu div{
  display: inline-flex;
  margin: 5px;
}

#datePicker{
  margin-left: 20px;
  border-radius: 8px;
  height: 30px;
  border: solid 1px #075fbb;
  padding: 4px;
  width: 200px;
  font-size: 15px;
}

#total{
  float: right;
}

#picker-container p{
  line-height: 2;
}

table{
  width: 100%;
  text-align: center;
}

table td{
  padding: 5px;
}

table tr{
  margin: 5px;
}

table tr th{
  text-align: center;
}

#stock-container{
  margin-top: 20px !important;
}

/**** CSS PRINT ****/
#print-area{ display: none; }
@page {
  size: A5;
  /*margin: 0;*/
}
@media print {
   .container, nav {
       display: none;
    }
    #print-area { display: block; }
    html, body{
      width: 400px;
      height: 600px;
    }
}