<div class="modal-header ng-scope">
	<h3 class="modal-title ng-binding">Añadir producto</h3>
</div>

<div class="modal-body ng-binding ng-scope">

	<form>
		<div> 
			<label>Nombre:</label>
			<input type="text" ng-model="product.name">
		</div>

		<div> 
			<label>Limitado:</label>
			<input type="radio" ng-model="product.limited" ng-value="true">
			<label>No limitado:</label>
			<input type="radio" ng-model="product.limited" ng-value="false">
		</div>

		<div ng-show="product.limited == true">
			<label>Stock:</label>
			<input type="number" ng-model="product.stock">
		</div>

		<div> 
			<label>Precio:</label>
			<input type="number" ng-model="product.price">
		</div>

	    <div class="modal-footer ng-scope">
		    <button class="btn btn-primary ng-binding" ng-click="addProduct(product, data.category, data.subcategory)">Guardar</button>
		    <button class="btn btn-default ng-binding" ng-click="cancel()">Cancelar</button>
	    </div>
	</form>

</div>