<div class="modal-header ng-scope">
	<h3 class="modal-title ng-binding">Añadir producto</h3>
</div>

<div class="modal-body ng-binding ng-scope">

	<form>
		<div class="form-group"> 
			<label for="product-name">Nombre:</label>
			<input id="product-name" class="form-control" type="text" ng-model="product.name">
		</div>

		<div class="form-group"> 
			<label for="limited">Limitado:</label>
			<input id="limited" class="form-control" type="radio" ng-model="product.limited" ng-value="true">
			<label for="ilimited">No limitado:</label>
			<input id="ilimited" class="form-control" type="radio" ng-model="product.limited" ng-value="false">
		</div>

		<div class="form-group" ng-show="product.limited == true">
			<label for="product-stock">Stock:</label>
			<input id="product-stock" class="form-control" type="number" ng-model="product.stock">
		</div>

		<div class="form-group"> 
			<label for="product-price">Precio:</label>
			<input id="product-price" class="form-control" type="number" ng-model="product.price">
		</div>

	    <div class="modal-footer ng-scope">
		    <button class="btn btn-primary ng-binding" ng-click="addProduct(product, data.category, data.subcategory)">Guardar</button>
		    <button class="btn btn-default ng-binding" ng-click="cancel()">Cancelar</button>
	    </div>
	</form>

</div>